<h3>New account</h3>

<form>
  <div class="form-group">
    <label for="name">Owner name:</label>
    <input type="text" class="form-control" ng-model="account.owner" id="input-owner">
  </div>
  <div class="form-group">
    <label for="balance">Initial balance:</label>
    <div class="input-group">
      <input type="text" class="form-control" ng-model="account.balance">
      <div class="input-group-addon">€</div>
    </div>
  </div>

  <button class="btn btn-default" ng-click="createAccount()">Submit</button>
</form>